.hamburguer-enter-active,
.hamburguer-leave-active {
  transition: opacity 0.5s;
}
.hamburguer-enter,
.hamburguer-leave-to {
  opacity: 0;
}

.close-enter-active,
.close-leave-active {
  transition: opacity 0.5s;
}
.close-enter,
.close-leave-to {
  opacity: 0;
}

.menu-enter-active,
.menu-leave-active {
  transition: opacity 0.5s;
}
.menu-enter,
.menu-leave-to {
  opacity: 0;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
